.grid{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 500px;
    height: 500px;
}

.grid div{
    width: 33.3px;
    height: 33.3px;
}

.shooter{
    background-color: blue;
}

.invader{
    background-color: purple;
    border-radius: 17px;
}

.boom{
    background-color: red;
}

.laser{
    background-color: orange;
}